In [3]:
import pandas as pd
import numpy as np

In [4]:
CCTV_seoul =pd.read_csv('../data/CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_seoul.head(10)

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613
5  광진구   878        573     78     53    174
6  구로구  1884       1142    173    246    323
7  금천구  1348        674     51    269    354
8  노원구  1566        542     57    451    516
9  도봉구   825        238    159     42    386

In [5]:
CCTV_seoul.tail(10)

     기관명    소계  2013년도 이전  2014년  2015년  2016년
15   성동구  1327        730     91    241    265
16   성북구  1651       1009     78    360    204
17   송파구  1081        529     21     68    463
18   양천구  2482       1843    142     30    467
19  영등포구  1277        495    214    195    373
20   용산구  2096       1368    218    112    398
21   은평구  2108       1138    224    278    468
22   종로구  1619        464    314    211    630
23    중구  1023        413    190     72    348
24   중랑구   916        509    121    177    109

In [6]:
CCTV_seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [7]:
CCTV_seoul.columns[0]

'기관명'

In [8]:
CCTV_seoul.rename(columns={CCTV_seoul.columns[0]: '구별'}, inplace=True) #기관명을 구별로
CCTV_seoul.head(10)

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613
5  광진구   878        573     78     53    174
6  구로구  1884       1142    173    246    323
7  금천구  1348        674     51    269    354
8  노원구  1566        542     57    451    516
9  도봉구   825        238    159     42    386

In [9]:
#엑셀파일열기
pop_seoul = pd.read_excel('../data/population_in_seoul.xls')
pop_seoul.head(10)

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764
5,2017.1/4,용산구,106544,244203,119132,125071,229456,111167,118289,14747,7965,6782,2.15,36231
6,2017.1/4,성동구,130868,311244,153768,157476,303380,150076,153304,7864,3692,4172,2.32,39997
7,2017.1/4,광진구,158960,372164,180992,191172,357211,174599,182612,14953,6393,8560,2.25,42214
8,2017.1/4,동대문구,159839,369496,182932,186564,354079,177021,177058,15417,5911,9506,2.22,54173
9,2017.1/4,중랑구,177548,414503,206102,208401,409882,204265,205617,4621,1837,2784,2.31,56774

In [10]:
pop_seoul.columns

Index(['기간', '자치구', '세대', '인구', '인구.1', '인구.2', '인구.3', '인구.4', '인구.5', '인구.6',
       '인구.7', '인구.8', '세대당인구', '65세이상고령자'],
      dtype='object')

In [12]:
pop_seoul = pd.read_excel('../data/population_in_seoul.xls',
                         header=2,# 2번 째 행이 columns
                         usecols='B,D,G,J,N') #출력한 columns 위치
pop_seoul

     자치구           계        계.1       계.2   65세이상고령자
0     합계  10197604.0  9926968.0  270636.0  1321458.0
1    종로구    162820.0   153589.0    9231.0    25425.0
2     중구    133240.0   124312.0    8928.0    20764.0
3    용산구    244203.0   229456.0   14747.0    36231.0
4    성동구    311244.0   303380.0    7864.0    39997.0
5    광진구    372164.0   357211.0   14953.0    42214.0
6   동대문구    369496.0   354079.0   15417.0    54173.0
7    중랑구    414503.0   409882.0    4621.0    56774.0
8    성북구    461260.0   449773.0   11487.0    64692.0
9    강북구    330192.0   326686.0    3506.0    54813.0
10   도봉구    348646.0   346629.0    2017.0    51312.0
11   노원구    569384.0   565565.0    3819.0    71941.0
12   은평구    494388.0   489943.0    4445.0    72334.0
13  서대문구    327163.0   314982.0   12181.0    48161.0
14   마포구    389649.0   378566.0   11083.0    48765.0
15   양천구    479978.0   475949.0    4029.0    52975.0
16   강서구    603772.0   597248.0    6524.0    72548.0
17   구로구    447874.0   416487.0   31387.0    56833.0
18   금천구    255082.0   236353.0   18729.0    32970.0
19  영등포구    402985.0   368072.0   34913.0    52413.0
20   동작구    412520.0   400456.0   12064.0    56013.0
21   관악구    525515.0   507203.0   18312.0    68082.0
22   서초구    450310.0   445994.0    4316.0    51733.0
23   강남구    570500.0   565550.0    4950.0    63167.0
24   송파구    667483.0   660584.0    6899.0    72506.0
25   강동구    453233.0   449019.0    4214.0    54622.0
26   NaN         NaN        NaN       NaN        NaN

In [13]:
#데이터 파악
CCTV_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [14]:
# 소계를 기준으로 오른차순 정렬
CCTV_seoul.sort_values(by='소계').head()

     구별   소계  2013년도 이전  2014년  2015년  2016년
9   도봉구  825        238    159     42    386
2   강북구  831        369    120    138    204
5   광진구  878        573     78     53    174
3   강서구  911        388    258    184     81
24  중랑구  916        509    121    177    109

In [17]:
CCTV_seoul['최근 증가율']=(CCTV_seoul['2016년']+\
                   CCTV_seoul['2015년']+\
                   CCTV_seoul['2014년'])/\
CCTV_seoul['2013년도 이전']*100
CCTV_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년      최근 증가율
0  강남구  3238       1292    430    584    932  150.619195
1  강동구  1010        379     99    155    377  166.490765
2  강북구   831        369    120    138    204  125.203252
3  강서구   911        388    258    184     81  134.793814
4  관악구  2109        846    260    390    613  149.290780

In [18]:
CCTV_seoul.sort_values(by='최근 증가율', ascending=False).head()

     구별    소계  2013년도 이전  2014년  2015년  2016년      최근 증가율
22  종로구  1619        464    314    211    630  248.922414
9   도봉구   825        238    159     42    386  246.638655
12  마포구   980        314    118    169    379  212.101911
8   노원구  1566        542     57    451    516  188.929889
1   강동구  1010        379     99    155    377  166.490765

In [42]:
pop_seoul.columns=['구별','인구수','한국인','외국인','고령자']
pop_seoul.head()

ValueError: Length mismatch: Expected axis has 6 elements, new values have 5 elements

In [19]:
pop_seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [20]:
pop_seoul.drop([0], inplace=True)
pop_seoul

     자치구         계       계.1      계.2  65세이상고령자
1    종로구  162820.0  153589.0   9231.0   25425.0
2     중구  133240.0  124312.0   8928.0   20764.0
3    용산구  244203.0  229456.0  14747.0   36231.0
4    성동구  311244.0  303380.0   7864.0   39997.0
5    광진구  372164.0  357211.0  14953.0   42214.0
6   동대문구  369496.0  354079.0  15417.0   54173.0
7    중랑구  414503.0  409882.0   4621.0   56774.0
8    성북구  461260.0  449773.0  11487.0   64692.0
9    강북구  330192.0  326686.0   3506.0   54813.0
10   도봉구  348646.0  346629.0   2017.0   51312.0
11   노원구  569384.0  565565.0   3819.0   71941.0
12   은평구  494388.0  489943.0   4445.0   72334.0
13  서대문구  327163.0  314982.0  12181.0   48161.0
14   마포구  389649.0  378566.0  11083.0   48765.0
15   양천구  479978.0  475949.0   4029.0   52975.0
16   강서구  603772.0  597248.0   6524.0   72548.0
17   구로구  447874.0  416487.0  31387.0   56833.0
18   금천구  255082.0  236353.0  18729.0   32970.0
19  영등포구  402985.0  368072.0  34913.0   52413.0
20   동작구  412520.0  400456.0  12064.0   56013.0
21   관악구  525515.0  507203.0  18312.0   68082.0
22   서초구  450310.0  445994.0   4316.0   51733.0
23   강남구  570500.0  565550.0   4950.0   63167.0
24   송파구  667483.0  660584.0   6899.0   72506.0
25   강동구  453233.0  449019.0   4214.0   54622.0
26   NaN       NaN       NaN      NaN       NaN

In [22]:
pop_seoul['자치구'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', nan],
      dtype=object)

In [25]:
pop_seoul[pop_seoul['자치구'].isnull()]

    자치구   계  계.1  계.2  65세이상고령자
26  NaN NaN  NaN  NaN       NaN

In [27]:
pop_seoul.rename(columns={pop_seoul.columns[0]: '구별'}, inplace=True) #자치구을 구별로
pop_seoul.head(10)

      구별         계       계.1      계.2  65세이상고령자
1    종로구  162820.0  153589.0   9231.0   25425.0
2     중구  133240.0  124312.0   8928.0   20764.0
3    용산구  244203.0  229456.0  14747.0   36231.0
4    성동구  311244.0  303380.0   7864.0   39997.0
5    광진구  372164.0  357211.0  14953.0   42214.0
6   동대문구  369496.0  354079.0  15417.0   54173.0
7    중랑구  414503.0  409882.0   4621.0   56774.0
8    성북구  461260.0  449773.0  11487.0   64692.0
9    강북구  330192.0  326686.0   3506.0   54813.0
10   도봉구  348646.0  346629.0   2017.0   51312.0

In [38]:
pop_seoul[pop_seoul['구별'].isnull()]
pop_seoul.drop([26], inplace=True)

In [41]:
pop_seoul['외국인비율']=pop_seoul['외국인']/pop_seoul['인구수']*100
pop_seoul.head()

    구별       인구수       한국인      외국인      고령자     외국인비율
1  종로구  162820.0  153589.0   9231.0  25425.0  5.669451
2   중구  133240.0  124312.0   8928.0  20764.0  6.700690
3  용산구  244203.0  229456.0  14747.0  36231.0  6.038828
4  성동구  311244.0  303380.0   7864.0  39997.0  2.526635
5  광진구  372164.0  357211.0  14953.0  42214.0  4.017852

In [43]:
pop_seoul['고령자비율']=pop_seoul['고령자']/pop_seoul['인구수']*100
pop_seoul.head()

    구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
1  종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2   중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3  용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
4  성동구  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
5  광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849

In [44]:
pop_seoul.sort_values(by='고령자', ascending=False).head()

     구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
16  강서구  603772.0  597248.0   6524.0  72548.0  1.080540  12.015794
24  송파구  667483.0  660584.0   6899.0  72506.0  1.033584  10.862599
12  은평구  494388.0  489943.0   4445.0  72334.0  0.899091  14.631019
11  노원구  569384.0  565565.0   3819.0  71941.0  0.670725  12.634883
21  관악구  525515.0  507203.0  18312.0  68082.0  3.484582  12.955291

In [45]:
CCTV_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년      최근 증가율
0  강남구  3238       1292    430    584    932  150.619195
1  강동구  1010        379     99    155    377  166.490765
2  강북구   831        369    120    138    204  125.203252
3  강서구   911        388    258    184     81  134.793814
4  관악구  2109        846    260    390    613  149.290780

In [47]:
# 일부 열 추출해서 merge / 구별, 소계, 최근 증가율

CCTV_seoul2=CCTV_seoul[['구별','소계','최근 증가율']]
CCTV_seoul2.head()

    구별    소계      최근 증가율
0  강남구  3238  150.619195
1  강동구  1010  166.490765
2  강북구   831  125.203252
3  강서구   911  134.793814
4  관악구  2109  149.290780